/* CONFIGURACION PARA TODO EL DOCUMENTO */
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    /* background-color: #e2e9e1; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: beige;
}
/* CABECERA - MENU DEL HEADER */
header{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}
.logo{
    background-color: rgb(132, 132, 214);
    border: 1px solid red;
}
.header-logo{
    width: 200px;
}
/* MENU DE NAVEGACION */
.nav-navigation{
    list-style-type: none;
}
.navigation__lista{
    display: inline;
    font-weight: 400;
    font-size: 15px;
    margin-left: 15px;
    transition: font-weight 7s, font-size 5s;
}
/* TRANSICION */
.navigation__lista:hover{
    font-weight: 600;
    font-size: 25px;
    background-color: #e9e3e37a;    
}

nav{
    background-color: rgb(158, 146, 146);
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header-slider{
    grid-column: 1 / 3;
    grid-row: 2 / 2 ;
    /* background-image: url("../img/img-slider-02.jpg"); */
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #31afc0;
    width: 100%;
    height: 500px; */
}
/* CONTENIDO PRINCIPAL */
.container{
    /* background-color: #cccccc; */
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    background-image: linear-gradient(to top, #cd7e2949 , #fdd8abbd);
    padding-top: 20px;
    padding-bottom: 1px;
}

/* SECCION  - BIENVENIDA */

/* CLASE PARA QUITAR ENLACE */
.no_link{
    list-style: none;
    text-decoration: none;
}
/* SECCION DE BIENVENIDA */
.welcome{
    background-color: rgb(146, 33, 33);
    margin-top: 25px;
    display: flex;
    /* grid-template-columns: 60% 40%; */
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    padding: 10px;
}
.welcome__presentacion{
    background-color: rgb(231, 227, 227);
    border-radius: 10px;
    margin-right: 10px;
}

.welcome__title{
    font-size: 25px;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    margin-left: 5px;
}
/* ANIMACION BARRA INICIO */
@keyframes slidein {
    from {
        font-size: 25px;   
    }
    to {
        font-size: 26px;
    }
}

.welcome__share{
    background-color: beige;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* SECCION - SERVICIOS */
.services{
    margin-top: 50px;
}
.services__title{
    background-color: aqua;
    text-align: center;
}
/* ANIMACION TITULO SERIVICIOS */
.services__title:hover{
    
    animation: pulse;
    animation-duration: 2s;
}
.box__services{
    margin-top: 30px;
    padding: 15px;
    border-radius: 15px;
    background-color: #dddddd;
    display: flex;
    gap: 5px;
}
.services-card{
    background-color: #ccb192;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 2s, padding 2s;
}
/* TRANSICION */
.services-card:hover{
    background-color: #dacdbe;
    padding: 15px;
}

/* SECCION - PROCESOS */
.procesos{
    margin-top: 50px;
    margin-bottom: 50px;
}
.procesos__title{
    background-color: aqua;
    text-align: center;
    margin-bottom: 30px;
}
.procesos__img{
    width: 250px;
}
.procesos__cards-box{
    background-color:#dddddd;
    padding: 10px;
    border-radius: 15px;
}
.procesos-card{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

/* SECCION - PROCESOS - LOGOS EMPRESAS */
.procesos-logos-empre{
    margin-top: 30px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 20px;
}
.procesos__logos-img{
    width: 200px;
    display: inline-block;
    margin-left: 10px;
}
/* SECCION - UBICANOS */
.ubicanos{
    margin-bottom: 50px;
}
.ubicanos__title{
    background-color: aqua;
    text-align: center;
    margin-bottom: 30px;
}
.maps{
    display: flex;
    background-color: #dddddd;
}
.ubicanos-maps{
    width: 50%;
    margin-right: 5px;
}
.ubicanos__img{
    width: 50%;
}

.contact__title{
    background-color: aqua;
    text-align: center;
    margin-bottom: 30px;
}

/* SECCION - CONTACTO */

.formulario{
    background-color: azure;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
    display: flex;  
    justify-content: center;
}
form{
    width: 100%;
    
    background-color: #475486;
    padding: 20px;
    width: 40%;
    border-radius: 10px;
}
input{
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 3px;
}
textarea{
    width: 100%;
    margin-bottom: 15px;
}
.contact-btn-enviar{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
}

/* SECCION - FOOTER */
footer{
    width: 100%;
    background-color: rgba(100, 86, 86, 0.274);
    padding-top: 50px;
    overflow-x: hidden;
}
.footer__copy{
    background-color: rgba(102, 34, 34, 0.05);
}

/* MEDIA QUERYS */
@media screen and (max-width: 1000px) {
    
    /* SECCION DE SERVICIOS */
    .box__services{
        flex-direction: column;
        align-items: center;
    }
    .services-card{
        align-items: center;
        width: 80%;
    }
    .services__img{
        width: 50%;
    }
}

@media screen and (max-width: 870px) {
    
    /* SECCION DE BIENVENIDA */
    .container{
        width: 100%;
    }
    .welcome {
        /* grid-template-columns: 50% 50%; */
        width: 100%;
    }

    /* SECCION DE SERVICIOS */
    .welcome__share{
        width: 100;
    }
    form{
        width: 70%;
    }

}
@media screen and (max-width: 800px) {
    
    /* SECCION DE BIENVENIDA */
    .container{
        width: 100%;
    }
    .welcome {
        /* grid-template-columns: 50% 50%; */
        width: 100%;
    }
    form{
        width: 90%;
    }
}
@media screen and (max-width: 715px) {
    
    /* SECCION DE BIENVENIDA */
    .container{
        width: 100%;
    }
    form{
        width: 80%;
    }
    
}

@media screen and (max-width: 590px) {

    /* SECCION DE BIENVENIDA */
    .container{
        width: 100%;
    }
    
}
@media screen and (max-width: 490px) {

    /* SECCION DE BIENVENIDA */
    .container{
        width: 400px;
    }
    .welcome {
        grid-template-columns: 280px;
        width: 375px;
        margin-bottom: 30px;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }
    .welcome__title{
        
    }

    /* SECCION SERVICIOS */
    .box__services{
        flex-direction: column;
    }

    /* SECCION PROCESOS */
    .procesos-card{
        flex-direction: column;
        padding: 20px;
    }

    /* SECCION - PROCESOS - LOGOS EMPRESAS */
    .procesos-logos-empre{
        padding: 15px;
    }
    .procesos__logos-img{
        margin-bottom: 15px;
    }

    /* SECCION - UBICANOS */
    .maps{
        flex-direction: column;
        align-items: center;
    }
    .ubicanos__img{
        width: 100%;
    }
    .ubicanos-maps{
        width: 100%;
        margin-right: 5px;
    }

    /* SECCION - CONTACTO */
    form{
        width: 100%;
    }
}

/* ANIMACIONES */
@keyframes mover{
    0%{
        transform: translate(50%);
    }
}

